<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Topic 13.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D534D4971BF9CD5100A13247</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D534D4B01BF9CD5200A13247</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D534D4BB1BF9CD5200A13247</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
